.slider-container {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
  }
  
  .slider-image {
    border-radius: 0px;
    height: 400px;
    object-fit: cover;
    border-width: 1px;
    border-color: black;
    border-style: solid;
  }
  